<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>

    <%- include('templates/navbar.html')  %>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 text-center">
                    <h3>Softwre developer</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos assumenda veritatis ullam sint cumque possimus tenetur voluptatibus rerum qui repudiandae.</p>
                </div>
                <div class="col-lg-6 text-right  animate__animated animate__pulse">
                    <img src="img/persona_1.png" alt="">
                </div>
            </div>
        </div>
        <%- include('templates/footer.html') %>
</body>

</html>