<div class="container-fluid" id="about">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="col-md-6">
            <i class="fab fa-youtube fa-10x"></i>
        </div>
        <div class="col-md-6">
            <h3>Software Developer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ea rem modi dolorum sit voluptatibus maiores, doloribus tempore numquam suscipit et possimus repellat molestiae temporibus eveniet sequi nam! Ratione, est.</p>
        </div>
    </div>
</div>